@import url('./variables.css');

.envelope-container {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    margin: auto;
    border-radius: var(--border-radius);
    background: transparent;
    perspective: 1500px;
}

.back-envelope {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--back-color);
    border-radius: var(--border-radius);
    z-index: 1;
    filter: var(--shadow);
}

.front-envelope-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-sizing: border-box;
}

.front-envelope {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-top: 80px solid transparent;
    border-left: 80px solid var(--back-color);
    border-right: 80px solid var(--back-color);
    filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.2));
}

.front-envelope::after {
    content: '';
    position: absolute;
    left: -84px;
    right: -84px;
    bottom: -8px;
    height: 100%;
    background: var(--back-color);
    border-radius: var(--border-radius);
    background: url(../images/grass.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.front-envelope-background {
    background:var(--back-color);
    height: 100%;
    width: 101%;
}

.open-envelope {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 4;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: transform 0.5s linear, filter 0.5s linear;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    filter: var(--shadow);
    overflow: hidden;
}

.open-envelope.openning-1 {
    transform: rotateX(90deg);
    filter: var(--open-shadow-1);
    z-index: 3;
}
.open-envelope.openning-2,
.open-envelope.openning-3 {
    transform: rotateX(180deg);
    filter: var(--open-shadow-2);
    z-index: 0;
}

.glue {
    width: 100%;
    height: 100%;
    background: var(--back-color);
    clip-path: polygon( 0% 0%, 
                        0% 22%, 0.5% 23.85%, 1% 25%, 1.5% 25.75%, 2% 26.5%, 2.5% 27.25%, 3% 28%, 
                        40% 85%, 41% 86.29853543%, 42% 87.30241603%, 43% 88.10290059%, 44% 88.74699957%, 45% 89.26239754%, 46% 89.66666667%, 47% 89.9713935%, 48% 90.18425922%, 49% 90.31016282%, 50% 90.35183758%, 51% 90.31016282%, 52% 90.18425922%, 53% 89.9713935%, 54% 89.66666667%, 55% 89.26239754%, 56% 88.74699957%, 57% 88.10290059%, 58% 87.30241603%, 59% 86.29853543%, 60% 85%,
                        97% 28%, 97.5% 27.25%, 98% 26.5%, 98.5% 25.75%, 99% 25%, 99.5% 23.85%, 100% 22%, 
                        100% 0%,
                        0% 0%);
}

.open-button-container {
    position: absolute;
    left: 50%;
    right: 0;
    height: 200px;
    width: 200px;
    top: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.open-button {
    position: relative;
    width: 100%;
    height: 90%;
    margin-top: 10%;
    filter: drop-shadow(0px 0px 2px white);
}

.open-button::before,
.open-button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 80%;
    box-sizing: border-box;
    background: rgb(228, 16, 140);
}

.open-button::before {
    left: 50%;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-radius: 50% 50% 50% 0;
}

.open-button::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    border-radius: 50% 50% 0 50%;
}

.card {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white; 
    border-radius: var(--border-radius);
    transition: 0.5s;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.card.openning-3 {
    transform: translateY(-100%);
}