@import url('./variables.css');
.flip-card {
    width: 100%;
    height: 100%;
    perspective: 2000px;
    perspective-origin: bottom;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card.flip.openning .flip-card-inner {
    transform: rotateY(180deg) translateZ(500px);
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    color: black;
  }
  
.flip-card-back {
    color: white;
    transform: translate(-50%, -50%) rotateY(180deg);
}


.envelope {
    width: var(--card-width);
    height: var(--card-height);
    background: url(../images/cover.jpeg);
    background-size: cover;
    border-radius: var(--border-radius);
}

.name-border {
    width: 300px;
    height: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.name-border .text-container {
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name {
    position: absolute;
    font-size: 3.5rem;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    background: linear-gradient(to right, #FF512F, #DD2476);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name-1 {
    transform: translate(-80%, -150%);
}
.name-2 {
    transform: translate(-20%, -75%);
}
.invite_name {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.5rem;
    color: #ECF0F1;
    width: calc(100% - 50px);
    justify-content: start;
    align-items: center;
}

.invitation {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.guest-name {
    position: relative;
    flex: 1;
    padding:  4px 8px;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.guest-name::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #ECF0F1;
}