
:root {
    --image-width: 1200px;
    --image-height: 720px;
}

.fade {
    transition: 1.5s ease-in-out;
}

.fade .fade-in {
    opacity: 1;
}
.fade .fade-out {
    opacity: 0;
}

.slider-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.slider-container .background{
    background-image: url('https://cdn2.wanderlust.co.uk/media/1006/shutterstock_1724207551.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=132370209580000000');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: 0;
    right: -10px;
}
.background1 {
    opacity: 1;
}
.background1 {
    opacity: 2;
}

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame {
    width: var(--image-width); 
    margin: 0 auto; /*center-aligned*/
}
#slider, #slider .sliderInner {
    width: var(--image-width);
    height: var(--image-height);/* Must be the same size as the slider images */
    border-radius:0px;
}
#slider img {
    width: var(--image-width);
    height: var(--image-height);
    object-fit: fill;
    object-position: center;
}

#slider {
    background-color:white;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}

/* the link style (if slide image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}

/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    display:none;
}

/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}
#slider img {
    object-fit: fill ;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
