.gallery {
    width: 100%;
    height: auto;
}

.invitation-card-viewer {
    height: 800px;
    width: 100%;
    padding: 100px 0;
    background: linear-gradient(45deg, #DEB7B9 0%, #A3515D 100%);
    perspective: 200px;
}

.clip-me {
    clip-path: url(#myClip);
}

.svg {
    position: absolute;
    width: 0;
    height: 0;
  }
.heart {
    -webkit-clip-path: url(#heart);
    clip-path: url(#heart);
}