/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@media (min-aspect-ratio: 1045 / 731) {
    .gallery {
        width: calc(100vh * 1.43);
        height: 100%;
        margin: auto;
    }
    .header {
        width: calc(100vh * 1.43);
        margin: auto;
    }
    .slide-container {
        background: url(./images/background.jpg) no-repeat center center;
    }

    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
@media (max-aspect-ratio: 1045 / 731) {
    .gallery {
        width: 100%;
        height: auto;
    }
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ecf0f1;
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #0008;
    padding: 0.75rem 0;
}

.header .qoute {
    color: #ecf0f1;
    padding: 0 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

@media screen and (max-width: 768px) {
    .header .qoute {
        display: none;
    }
}

.header .head-invitation-card {
    cursor: pointer;
}

.invitation-card-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(45deg, #DEB7B9 0%, #A3515D 100%);
    background: linear-gradient(45deg, #DEB7B9 0%, #A3515D 100%);
    -webkit-perspective: 1500px;
            perspective: 1500px;
    z-index: 2;
}

.button-group {
    position: absolute;
    bottom: 0;
    width: min(400px, 100vw);
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-20px);
        -ms-transform: translateX(-50%) translateY(-20px);
            transform: translateX(-50%) translateY(-20px);
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.btn {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    color: #ecf0f1;
    font-weight: bold;
    text-transform: uppercase;
}

.btn.btn-left {
    background: -webkit-gradient(linear, left top, right top, from(#DD2476), to(#FF512F));
    background: -o-linear-gradient(left, #DD2476 0%, #FF512F 100%);
    background: linear-gradient(to right, #DD2476 0%, #FF512F 100%);
    border-radius: 20px 0 0 20px;
    margin-right: 1px;
}

.btn.btn-right {
    background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#DD2476));
    background: -o-linear-gradient(left, #FF512F 0%, #DD2476 100%);
    background: linear-gradient(to right, #FF512F 0%, #DD2476 100%);
    border-radius: 0 20px 20px 0;
}

.clip-me {
    -webkit-clip-path: url(#myClip);
            clip-path: url(#myClip);
}

.svg {
    position: absolute;
    width: 0;
    height: 0;
}
.heart {
    -webkit-clip-path: url(#heart);
    clip-path: url(#heart);
}

.logo-name {
    font-size: 32px;
    color: #0bcaf5;
}

.story-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.story-grid .image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    width: 100%;
}
.story-grid img {
    width: 100%;
    height: auto;
}

.story-header {
    font-size: 2.5rem;
    line-height: 4.2rem;
    font-family: 'Lavishly Yours', cursive;;
    font-weight: 700;
    color: #306305;
}

.story-grid p:first-child {
    margin-top: 0;
}
.story-grid .poem p {
    margin-top: 0;
    margin-bottom: 0;
}

.story-container {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

.slide-container {
    position: relative;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    height: 580px;
    text-align: center;
    position: relative;
}
.full-card-hide {
    position: fixed;
    top: -100px;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
}

.btn-saving{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn-saving .progress {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: 10px;
    border-radius: 50%;
    border-left: #ecf0f1 solid 2px;
    border-top: #ecf0f148 solid 2px;
    border-right: #ecf0f1 solid 2px;
    border-bottom: #ecf0f148 solid 2px;
    -webkit-animation: saving 1s infinite;
            animation: saving 1s infinite;
}

@-webkit-keyframes saving {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes saving {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .App {
        padding-top: 66px;
    }
    .story-container:not(.poem-container) {
        margin-top: 120px;
    }
    .header-container {
        background: #306305;
    }
    .story-grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .story-grid .image {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 200px;
                flex: 0 0 200px;
        width: 100%;
    }
}