@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500;700&family=Dancing+Script:wght@400;700&family=Lavishly+Yours&display=swap');
@font-face {
    font-family: 'SVN-Fiolex Girls';
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/SVN-Fiolex\ Girls.ttf);
}

@font-face {
    font-family: 'SVN-Hamstring';
    src: url(./fonts/SVN-Hamstring.otf);
}

body {
  margin: 0;
  font-family: 'Cormorant SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden  ;
}

.normal {
    font-family: 'Cormorant SC', serif;
}

.hw {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}

.beauty {
    font-family: 'SVN-Fiolex Girls';
}

.handwrite {
    font-family: 'Lavishly Yours', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
